.alert{
    background-color: #ff7385;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
    color: white;
    i{
        font-size: 1.5em;
        cursor: pointer;
    }
}