.user-header{
    color: #fff;
    margin-bottom: 2rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-button{
        max-width: 70%;
    }
    &-edit{
        &-form{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }
        &-buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}